# Ignore paths that contain user-generated content.
.ddev
/docroot/core/
/docroot/libraries
/docroot/files
/docroot/sites/*/files
/docroot/sites/*/private
/docroot/sites/*/settings*.php
#/docroot/sites/*/services*.yml
/docroot/sites/development.services.yml
/docroot/sites/default/default.services.yml
/docroot/sites/default/*.local.php
#/docroot/sites/default/*.yml
/docroot/sites/default/default.settings.php
#/docroot/sites/default/settings.php
/docroot/sites/default/settings.ddev.php
default.services.yml
development.services.yml
/docroot/modules/contrib
/docroot/themes/contrib
vendor
node_modules
defaults.env
.DS_Store
.vscode/
.idea/
*.sql
*.zip
*.rar
*.gz
.idea
.lando.yml
search

/.editorconfig
/.gitattributes
local.settings.php
local.drush.yml
local.site.yml
local.services.yml
*.local
local.blt.yml
deployment_identifier
/travis_wait*
/files-private
.phpcs-cache
salt.txt
phpcs.xml.dist
# OS X
.DS_Store
.AppleDouble
.LSOverride
